/*
 *
 * MMM-Bilibili-SubCount
 *
 * Jimmy Lin
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

#root {
  padding: -1em;
  margin: -1em;
}

#MMM-Bilibili-SubCount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

#MMM-Bilibili-SubCount-content {
  text-align: right;
}

#MMM-Bilibili-SubCount-container img {
  border-radius: 50% 50%;
  transform: scale(0.8, 0.8);
}

#MMM-Bilibili-SubCount-title {
  margin-top: -1em;
  padding-top: -1em;
  margin-bottom: -1em;
  padding-bottom: -1em;
  font-weight: bold;
  font-size: 25px;
}

#MMM-Bilibili-SubCount-count {
  margin-top: -1em;
  padding-top: -1em;
  margin-bottom: -1em;
  padding-bottom: -1em;
  font-size: 23px;
}

#MMM-Bilibili-SubCount-count p {
  margin-top: -1em;
  padding-top: -1em;
  margin-bottom: -1em;
  padding-bottom: -1em;
  font-size: 23px;
}
